@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    display:grid;
    justify-content: end;
    align-content: end;
    min-height:100vh;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #683EE6;
}

footer .container{
    widows: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap:20px;
}

footer .container .sec h2{
    position: relative;
    color:#fff;
    font-weight:500;
    margin-bottom: 15px ;
}

footer .container .sec h2::before{
   content: '';
   position: absolute;
   bottom: -5px;
   left:0;
   width:50px;
   height:2px;
   background:#ffeb3b;
}

footer .container .sec p{
    color: #fff;
}

.sci{
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(4,50px);
    grid-area: 10px;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block; 
    background:transparent;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
}

.sci li a:hover{
   background:#6380fe;
}

.sci li a img{
    color:#fff;
    font-size: 20px;
    filter: invert(1);
}

.quicklinks{
    position:relative;   
}

.quicklinks li{
    list-style: none; 
}

.quicklinks li a{
    color:#f7f7f7;
    text-decoration: none;
    margin-bottom: 10px; 
    display: inline-block;
}

.quicklinks li a:hover{
    color:#ffeb3b;
}

.info{
    position: relative;
}

.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
}

.info li span{
    color:#fff;
}

.info a{
    color:#f7f7f7;
    text-decoration: none;
}

.info li a:hover{
    color:#ffeb3b;
}

.copyrightText{
    width:100%;
    background: #333;
    padding:8px 100px;
    text-align: center;
    color:#fff;
}

.copyrightText a{
    color:#ffeb3b;
    text-decoration: none;
}

.copyrightText a:hover{
    color:#fff;
}


.gototop{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}


/* Styles For Responsiveness */

@media(max-width:991px){
    footer{
        padding:40px;
    }

    footer .container{
        grid-template-columns: repeat(2,1fr);
    }

    .copyrightText{
        padding: 8px 40px;
    }
  
}

@media(max-width:760px){
    footer{
        padding:40px;
    }

    footer .container{
        grid-template-columns: repeat(1,1fr);
    }

    .sci{
        margin-top: 50px;
    }
}